@model BLL.Models.Invoices

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*@Html.Action("Index","InviceDetails",Model.InviceDetails)*@

@Html.Partial("InvoicesIndex", Model.InviceDetails)